//title stuff

#container {
    position: fixed;
}



.flex-container {
    display: grid
    grid-template-columns: 1fr 1fr;
    // justify-content: left
    // align-items: left    

}

    





// body stuff

