@import url(https://fonts.googleapis.com/css?family=Major+Mono+Display);


$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$text: rgb(242, 238, 255);

html {
   height: 100vh;
}

body{
    background-color: #515D9E;
    height: 100%;
    overflow: hidden;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    color: $text;
    text-align: center;
    font-weight: 10;
    font-size: 4em;
    margin: 10px 0px;
    letter-spacing: 0.1em;
}

h2{
    text-align: center;
    color: $text;
    margin: 5px 0px;
    font-family: 'Major Mono Display', monospace;
    font-weight: lighter;
}
// .container {
//     overflow: inherit;
// }

.main {
    font-family: $font;
    width: 55%;
    height: 85%;
    float: left;
    padding: 25px;
    overflow: scroll;
    
}

.content {
    margin-bottom: 10px;
}

a.user {
    font-weight: thinner;
    font-size: x-large;
    color: $text;
}

div.extra.text {
    color: rgb(255, 255, 255);
}
div.meta{
    color: springgreen;
}

    
.main-replies {
    float: right;
    position: relative;
    width: 30%;
    padding: 25px;
    color: rgb(207, 207, 231);
}

    





// body stuff

